.flip-card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
  cursor: pointer;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 250%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(122, 61, 61, 0.1);
  border-radius: 8px;
  background-color: white;
}

.flip-card-front {
  transform: rotateY(0deg);
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #f7f7f7;
}

/* the button on dashboard */
.sticky-button {
  position: sticky;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.custom-link {
  text-decoration: none; 
  color: #240505; 
  text-decoration: solid;
  padding: 0.5rem;
}
.dashboard-card-link {
  background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm428-0019.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=476887c8d3c7efa391d870e89726a220') center/cover no-repeat;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}
.dashboard-card{

background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm428-0019.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=476887c8d3c7efa391d870e89726a220') center/cover no-repeat;
}

.app-footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
}
.mt-4 {
  flex-grow: 1;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-footer {
  font-family: 'YourCustomFont', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
}

.app-footer {
  font-family: 'YourCustomFont', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
  color: #2b1e0c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  letter-spacing: 8px; 
}
.dblink{
  text-decoration: none;
  font-weight: bold;
  color: #240505;
}